body {
  font-size: 1.5em;
  color: black;
  background: rgb(175, 175, 214);
  padding: 5%;
}

.container {
  padding: 10px;
  background: rgb(212, 193, 230);
  margin: 45px auto;
  /*flexbox*/
display:flex;
flex-direction :row;
flex-wrap:wrap;
height:200px;
align-items: flex-end;
justify-content: space-between;
}



.item {
  color: paleturquoise;
  padding: 15px;
  margin: 5px;
  background: blue;
}

.item1{
  align-self: flex-start;
  order: 1;
  flex-grow:
}
